<div class="row">
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">My Peer Nodes</div>
            <div class="list-group">
                <a class="list-group-item" ng-class="{'active':i.peer_id==peer_id}" ng-repeat="i in nodes|orderBy: 'peer_name'" ng-href="/peer/{{i.peer_id}}">{{i.peer_name}}</a>
                <a class="list-group-item" href="/peer"><i class="glyphicon glyphicon-plus"></i> New Node</a>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div ng-show="saved == true" class="alert alert-success" role="alert"><b>Peer Saved!</b> The peer has been saved for peer finder!</div>
        <div ng-hide="error == undefined" class="alert alert-danger" role="alert"><b>Error!</b> {{error.msg}}</div>

        <form class="form-horizontal" name="Peer" >
            <div ng-show="node.peer_id == undefined" class="well well-sm" role="alert"><b>Create a Peer</b></div>
            <div ng-hide="node.peer_id == undefined" class="well well-sm" role="alert"><b>Peer UUID:</b> {{node.peer_id}}</div>

            <div class="form-group">
                <label for="peer_name" class="col-sm-2 control-label">Peer Name</label>
                <div class="col-sm-10"><input class="form-control" type="text" required id="peer_name" name="peer_name" ng-model="node.peer_name"></div>
            </div>

            <div class="form-group">
                <label for="peer_name" class="col-sm-2 control-label">Peer Nick</label>
                <div class="col-sm-10"><input class="form-control" type="text" id="peer_nick" name="peer_nick" ng-model="node.peer_nick"></div>
            </div>

            <div class="form-group">
                <label for="peer_note" class="col-sm-2 control-label">Note</label>
                <div class="col-sm-10"><input class="form-control" type="text" id="peer_note" name="peer_note" ng-model="node.peer_note"></div>
            </div>

            <div class="form-group">
                <label for="peer_country" class="col-sm-2 control-label">Country</label>
                <div class="col-sm-2"><input class="form-control" type="text" required id="peer_country" name="peer_country" maxlength="3" ng-model="node.peer_country"></div>
            </div>

            <div class="form-group">
                <label for="peer_type" class="col-sm-2 control-label">VPN Types</label>
                <div class="col-sm-10"><select class="form-control" size="12" multiple required id="peer_type" name="peer_type" ng-model="node.peer_type" ng-options="type for type in TYPE"></select></div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Address Family</label>
                <div class="col-sm-10">
                    <div class="col-xs-4"><label class="radio-inline"><input type="radio" name="peer_family" ng-model="node.peer_family" required value="3"> both </label></div>
                    <div class="col-xs-4"><label class="radio-inline"><input type="radio" name="peer_family" ng-model="node.peer_family" value="1"> ipv4 </label></div>
                    <div class="col-xs-4"><label class="radio-inline"><input type="radio" name="peer_family" ng-model="node.peer_family" value="2"> ipv6 </label></div>
                </div>
            </div>

            <div class="row" style="text-align:right">
                <div class="col-xs-6"><button ng-disabled="node.peer_id == undefined" type="button" class="btn btn-danger btn-block" ng-click="deleteNode(node)">Delete</button></div>
                <div class="col-xs-6"><button type="submit" class="btn btn-primary btn-block" ng-click="saveNode(node)">Save</button></div>
            </div>

        </form>
    </div>
</div>


