<style>

.sidebar .list-group {
    font-size: 75%;
}
.sidebar .list-group-item {
    padding: 2px;
    background:#111;
    color: greenyellow;
    border:0;
    font-family: Hack
}
.main {
    font-family: Hack;
}

.sidebar li.list-group-item.active,.sidebar a.list-group-item.active {
    color: #111;
    background-color: greenyellow;
}

@media (min-width: 768px) {
    .hide-sm { display: none !important; }
}


@media (min-width: 768px) {
    .sidebar {
        position:absolute;
        height:70vh;
        width: 25vw;
    }
    .sidebar .list-group {
        height:100%;
        overflow-y: scroll;
    }
    .main {
        position: absolute;
        margin-left: 25vw;
        overflow: auto;
    }
}
@media (min-width: 992px) {
    .sidebar {
        position:fixed;
        height:70vh;
    }
    .sidebar .list-group {
        height:100%;
        overflow-y: scroll;
    }
    .main {
        position: absolute;
        margin-left: 25vw;
    }
}


</style>

<div class="row">
    <div class="col-lg-3 col-sm-3 sidebar">
        <uib-tabset active="tab">
            <uib-tab heading="Directory">

            <select class="form-control" ng-model="type" ng-options="i.name as i.name for i in types" ng-change="$loadList(type)" placeholder="Select Type"></select>
            <input class="form-control" ng-model="filter" class="form-control" placeholder="Filter Results"/>

            <div class="list-group">
                <a class="list-group-item"
                   ng-repeat="n in list|orderBy:'_name'|filter:filter"
                   ng-class="{'active': n._uri == current}"
                   ng-click="$loadObj(n._uri)">
                    {{(n._uri|regName).name}}
                </a>
            </div>

            </uib-tab>

            <uib-tab heading="Network">

                <form name="SearchIP" ng-submit="$loadNet('inetnum',query)">
                    <div class="input-group">
                        <input ng-model="query" class="form-control" placeholder="172.2x.x.x or fd00::"/>
                        <span class="input-group-btn"><button type="submit" class="btn btn-default">Load</button></span>
                    </div>
                </form>
                Jump: <a class="btn btn-xs" ng-click="$loadNet('net','0.0.0.0')">IPv4</a> <a class="btn btn-xs" ng-click="$loadNet('net','fd00::')">IPv6 ULA</a>

                <div class="list-group">
                    <h5 ng-show="parents.length > 0">Parents</h5>
                    <a class="list-group-item" ng-repeat="n in parents|orderBy:'+_netlevel'" ng-click="$loadNet(n._type, n._uri)">{{(n._uri|regName).name}} <b>({{(n._uri|regName).sub}})</b></a>

                    <h4>{{(ip._uri|regName).sub}} {{(ip._uri|regName).name}}</h4>

                    <h5 ng-show="children.length > 0">children</h5>
                    <a class="list-group-item"
                       ng-repeat="n in children|orderBy:'+_netlevel'"
                       ng-class="{'active':n._uri == current}"
                       ng-click="$loadNet(n._type, n._uri)">{{(n._uri|regName).name}} <b>({{(n._uri|regName).sub}}) </b></a>
                </div>

            </uib-tab>

            <uib-tab heading="Related">

            <h5 ng-if="related.length == 0">No Related MNT objects found</h5>

            <input class="form-control" ng-model="filter" class="form-control" placeholder="Filter Results"/>

            <div class="list-group">

                <h5 ng-repeat-start="r in related">{{r.  name}}</h5>
                <a ng-repeat-end class="list-group-item"
                   ng-repeat="n in r.items|filter:filter|orderBy:'_uri'"
                   ng-class="{'active':n._uri == current}"
                   ng-click="$loadObj(n._uri)" title="{{n._uri|regName}}">
                      {{(n._uri|regName).name}} <b>({{(n._uri|regName).sub|default:(n._uri|regName).type}})</b>
                </a>

            </div>

            </uib-tab>

            <uib-tab class="hide-sm" heading="Hide"></uib-tab>
        </uib-tabset>
    </div>
    <div class="col-lg-9 col-sm-9 main">

        LINK: <span ng-switch="_type">
              <a ng-switch-when="route" ng-href="/registry/{{_type|default:type}}/{{_uri}}">/registry/{{_type|default:type}}/{{_uri}}</a>
              <a ng-switch-when="net" ng-href="/registry/{{_type|default:type}}/{{_uri}}">/registry/{{_type|default:type}}/{{_uri}}</a>
              <a ng-switch-default ng-href="/registry/{{_type|default:type}}/{{_name}}">/registry/{{_type|default:type}}/{{_name}}</a>
              </span>

        <uib-tabset active="$root.maintab">
            <uib-tab heading="Raw Text">
                <pre>{{data|regtxt}}</pre>
            </uib-tab>

            <uib-tab heading="Edit" select="$root.txt = (data|regtxt:true)">
                <textarea rows=20 class="form-control" ng-model="txt"></textarea>

                <input class="form-control" ng-model="mntner"/>
                <input class="form-control" type="password" ng-model="password"/>

                <button class="btn  btn-default" ng-click="$saveObj(_uri, txt, mntner, password); $root.maintab = 0">Save</button>
                <button class="btn  btn-danger" ng-click="$deleteObj(_uri, txt, mntner, password); $root.maintab = 0">Delete</button>

            </uib-tab>

            <uib-tab heading="Table View">

                <table class="table table-condensed">
                    <tbody>
                    <tr ng-repeat="l in data">
                        <td style="padding:0px; width:140px; vertical-align: top">{{l[0]}}</td>
                        <td style="padding:0px"><pre style="background-color: #444; color: white; margin:0">{{l[1]}}</pre></td>
                    </tr>
                    </tbody>
                </table>

            </uib-tab>
        </uib-tabset>

    </div>
</div>